@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.4.0');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
       url('../font/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
       url('../font/fontawesome-webfont.woff?v=4.4.0') format('woff'),
       url('../font/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
       url('../font/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
body{
	background: #fff;
	color: black;
	font: 400 11pt/1.4 "Montserrat", Helvetica, sans-serif;
	padding: 0;
	margin: 0;
}
a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
    letter-spacing: 0.05em;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}
h1{
	font-size: 1em;
}
h2{
	font-size: 1.75em;
    line-height: 1.5em;
	padding-top: 2em;
}
h3{
	font-size: 1.25em;
    line-height: 1.5em;
	padding-top: 2em;
}
.ba-container-center{
	width: 960px;
}
.ba-container-center--left{
	width: 480px;
	float: right;
}
.ba-container-center--right{
	width: 480px;
	float: left;
}
.ba-header{
	background-color: #7F7E93;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 1000;
}
.ba-header__logo{
	float: left;
	padding-top: 15px;
}
.ba-header__logo:before {
	content: '\f1b2';
	color: #F06862;
	font-family: 'FontAwesome';
	margin-right: 5px;
}

.ba-main-menu{
	float: right ;
	list-style: none;
	text-align: right;
}
.ba-main-menu li{
	display: inline-block;
	padding: 0 1em;
}
.ba-main-menu__opener > a:hover{
	background: #767588;
}
.ba-main-menu > li > a{
	padding: 10px;
}
.ba-main-menu__opener{
	position: relative;
}
[class*="ba-main-menu__opener__dropdown-menu"]{
	position: absolute;
	top: 5em;
	right: -1em;
	width: 180px;
	background: #7F7E93;
	padding: 0;
}
.ba-main-menu__opener__dropdown-menu li{
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	padding: 0;
}
.ba-main-menu__opener__dropdown-menu li:first-child{
	margin-top: 5px;
}
.ba-main-menu__opener__dropdown-menu li:last-child{
	border-bottom: none;
	margin-bottom: 5px;
}
.ba-main-menu__opener__dropdown-menu a{
	color: #dfdee4;
	display: block;
	text-align: left;
	padding: 10px;
	font-size: 10pt;
	font-weight: 400;
}
.ba-main-menu__opener__dropdown-menu a:hover{
	background: #F06862;
}
.ba-main-menu__opener__dropdown-menu:before {
    position: absolute;
    content: "";
    top: -30px;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent #7F7E93;
}
.ba-main-menu__opener__dropdown-menu{
	visibility: hidden;
	transition: visibility .3s ease-in;
}
.ba-main-menu__opener__dropdown-menu__submenu{
	left: 180px;
	top: 155px;
	visibility: hidden;
}
.ba-main-menu__opener:hover .ba-main-menu__opener__dropdown-menu{
	visibility: visible;
}
.ba-open-submenu:hover
.ba-main-menu__opener__dropdown-menu__submenu{
	visibility: visible;
}
.ba-main-menu__opener__dropdown-menu__submenu:hover
.ba-main-menu__opener__dropdown-menu{
	visibility: visible;
}
.ba-main-menu__active{
	background: #605F6F;
}

/*ba-banner*/
.ba-banner{
	background: #ccc url(../img/banner.jpg) 50% no-repeat;
	background-size: cover;
	color: #FFF;
	height: 80vh;
	font-weight: 700;
	margin-top: 50px;
}
.ba-banner__header{
	font-size: 2.25em;
	padding-top: 100px;
}
.ba-banner__content{
	padding-top: 10px;
	font-size: 1.25em;
    line-height: 1.5em;
}
.ba-banner__button, .ba-left-side__button{
	display: inline-block;
	border: 2px solid #fff;
	padding: 0 1.35em;
    line-height: 3em;
}
.ba-banner__button{
	margin-top: 25px;
}
.ba-banner__button:hover{
	background-color: rgba(255, 255, 255, 0.1);
}


.ba-left-side{
	float: left;
	background: #F06862;
	color: #fff;
}
.ba-left-side__content{
	color: #fbd9d7;
	font-size: .9em;
	padding: 1em 1em 1em 0;
    line-height: 1.9em;
}
.ba-left-side__button{
	margin-bottom: 3.5em;
}
.ba-left-side__button:hover{
	background: #F1736E;
}
.ba-right-side__header, .ba-right-side__content{
	padding-left: 40px;
}
.ba-right-side__header{
	color: #F06862;
}
.ba-right-side__content{
	color: #8B8B8B;
	font-size: .8em;
    line-height: 2em;
    padding-top: 1em;
}
.ba-right-side__vestibulum-auct{
	background: #F5F5F5;
	min-height: 180px;
}
.ba-right-side__iultricies-nulla{
	background: #FFF;
}

.ba-section-two{
	background: #F5F5F5;
}
.ba-section-two__img{
    background: #ffffff;
    border-radius: 0.5em;
    border: 2em solid #ffffff;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.125);
    margin-top: 4em;
    width: 374px;
}
/*
.ba-section-two__img-wrapper{
	position: relative;
}

.ba-section-two__img:before {
    content: '';
    background: #F0F0F0;
    background: red;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 7px;
    width: 13px;
    height: 13px;
    width: 500px;
    height: 500px;
    z-index: 200;
}
*/

.ba-section-two__column-second{
	margin-left: 44%;
}
[class*="header--2"]{
	color: #7F7F7F;
}
[class*="header--3"]{
	color: #A5A5A5;
	padding-top: 1em;
	font-weight: 400;
}
.ba-section-two__content,
.ba-section-three__column__content{
	color: #868686;
	font-size: .8em;
	line-height: 1.6em;
    padding-top: 1em;
}
.ba-section-two__button{
	display: inline-block;
	color: #7F7F7F;
	border: 2px solid #7F7F7F;
	padding: 0 1.35em;
    line-height: 3em;
    margin-bottom: 3em;
    margin-top: 1em;
}
.ba-section-two__button:hover{
	background: #EEEEEE;
}

.ba-section-three{
	text-align: center;
}
.ba-section-three__header--3{
	margin-bottom: 3em;
}
.ba-section-three__column__header--3{
	color: #7F7F7F;
	font-weight: 700;
}
.ba-section-three__column{
	position: relative;
}

.square-major{
	position: relative;
}
.square-major:before{
	content: "";
	display: block;
	position: relative;
	height: 4.5em;
	line-height: 4.5em;
	margin: 1em auto 3em auto;
	width: 4.5em;
	top: 3em;
	background: #f06862;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.square-major:after{
	color: #ffffff;
	font-family: 'FontAwesome';
	font-size: 2em;
	position: absolute;
	left: -15px;
	top: -55px;
}
.square-major__camera:after {
    content: "\f083";
}
.square-major__cup:after {
    content: '\f0f4';
}
.ba-section-three__column:before{
    background: rgba(144, 144, 144, 0.25);
    content: '';
    display: block;
    height: 3.25em;
    left: 50%;
    position: absolute;
    top: 1px;
    width: 1px;
}
.ba-section-three__column__header--3{
	margin-top: 4em;
}
.ba-section-three__column__content--1:after,
.ba-section-three__column__content--2:after{
	content: '';
	background: rgba(144, 144, 144, 0.25);
    display: block;
    width: 50%;
    height: 1px;
    left: 50%;
    position: absolute;
    top: 0;
}
.ba-section-three__column__content--2:before,
.ba-section-three__column__content--3:before{
	content: '';
	background: rgba(144, 144, 144, 0.25);
    display: block;
    width: 50%;
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
}

.ba-section-four{
	background: #747389;
}
.ba-section-four__header--2{
	color: #FFF;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
}
.ba-reviews{
	text-align: center;
}
.ba-reviews__content{
	display: inline-block;
	background: #575767;
	color: #DFDEE4;
	font-size: .7em;
	font-style: italic;
	line-height: 2em;
	padding: 10px;
	width: 280px;
	position: relative;
	margin-bottom: 30px;
}
.ba-reviews__content:after {
    position: absolute;
    content: "";
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: #575767 transparent transparent;
}
.ba-reviews__avatar__img{
	display: inline-block;
	background: #7E7D92;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}
.ba-reviews__name{
	color: #FFF;
	font-size: .8em;
	padding-top: 1em;
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.ba-reviews__title{
	color: #DFDEE4;
	padding-top: .7em;
	margin-bottom: 6em;
}


.ba-section-five{
	background: #FFF;
}
.ba-section-five__header{
	color: #7F7F7F;
	margin-bottom: 1.2em;
	position: relative;
}
.ba-section-five__content{
	color: #868686;
	font-size: .9em;
	line-height: 1.8em;
	position: relative;
}
.ba-section-five__header,
.ba-section-five__content{
	margin-left: 30%;
}
.ba-section-five .ba-grid{
	margin-top: 0;
}
.ba-section-five__content:before{
	background: rgba(144, 144, 144, 0.25);
    content: '';
    display: block;
    height: 8.5em;
    left: -10%;
    position: absolute;
    bottom: 1px;
    width: 1px;
}
.ba-section-five__header:before{
	content: "";
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
    top: 3em;
    left: -6.5em;
	background: #f06862;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.ba-section-five__header:after{
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 1.3em;
	position: absolute;
	top: 2.8em;
	left: -4.5em;
}
.icon-cog:after {
	content: "\f013";
}
.icon-desktop:after {
	content: "\f108";
}
.icon-briefcase:after {
	content: "\f0b1";
}
.icon-paper-plane:after {
	content: "\f1d8";
}
.icon-bar-chart:after {
	content: "\f080";
}
.icon-tag:after {
	content: "\f02b";
}


.ba-footer{
	background: #F5F5F5;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	padding: 6em 0 4em 0;
}
.social-network{
	list-style: none;
	padding: 0;
}
.social-network li{
	display: inline-block;
}
.square{
	position: relative;
}
.square:before{
	content: "";
	display: block;
	position: relative;
	width: 45px;
	height: 45px;
	margin: 0 15px;
    top: 0;
	background-color: rgba(144, 144, 144, 0.2);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.square:after{
	color: #A5A5a5;
	font-family: 'FontAwesome';
	font-size: 1.3em;
	position: absolute;
	top: 10px;
	left: 40%;
}
.square-facebook:after {
	content: "\f09a";
}
.square-twitter:after {
	content: "\f099";
}
.square-email:after {
	content: "\f0e0";
}
.ba-footer__rights{
	color: #868686;
	font-size: .8em;
}
